*, body, button, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
:root {
    --fb-header: #1890ff;
    --fb-title: #251016;
    --fb-text: #494949;
    --fb-accent: #1890ff;
    --fb-accent-hover: #1890ff99;
    --fb-background: #fff;
}
.feedbo-outer-content .inner-content .fb-input{
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
}
.feedbo-outer-content .inner-content .fb-input:focus, .feedbo-outer-content .inner-content  .fb-input:hover {
    border-color: #40a9ff;
    border-right-width: 1px!important;
}
.feedbo-outer-content .inner-content .fb-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}
.feedbo-outer-content {
    color: #222c36;
}
.feedbo-outer-content .feedbo-content {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.feedbo-outer-content .inner-content {
    transform: translate(0);
    position: relative;
    overflow: hidden;
    left: 0;
    will-change: left;
    transition: left .3s;
    width: 300vw;
    height: 100%;
}
.feedbo-outer-content .inner-content #index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0;
}
.feedbo-outer-content .inner-content #details, .feedbo-outer-content .inner-content #index, .feedbo-outer-content .inner-content #add {
    width: 100vw;
    position: absolute;
}

.feedbo-outer-content .inner-content .fb-header, .feedbo-outer-content .inner-content .fb-menu {
    border-bottom: 1px solid #f1f1f1;
}
.feedbo-outer-content .inner-content .fb-header {
    padding: 10px 0;
    position: relative;
}
.feedbo-outer-content .inner-content .fb-menu {
    background-color: #fff;
    display: flex;
}
.feedbo-outer-content .inner-content .fb-menu .fb-tabs {
    display: flex;
    flex: 1;
    align-items: flex-start;
    line-height: 32px;
}
.feedbo-outer-content .inner-content .fb-menu .fb-tabs div {
    padding-right: 30px;
    padding-left: 30px;
    line-height: 50px;
    cursor: pointer;
}
.feedbo-outer-content .inner-content .fb-menu .fb-tabs div[data-selected="true"] {
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
    font-weight: 500;
}
.feedbo-outer-content .inner-content .fb-menu .fb-new-post{
    color: #fff;
    margin: 10px 23px;
}
.feedbo-outer-content .inner-content .fb-menu .fb-new-post:hover{
    color: #fff;
    background-color: var(--fb-accent);
    border-color: var(--fb-accent);
}
.feedbo-outer-content .inner-content .fb-title {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.feedbo-outer-content .inner-content  .fb-description {
    text-align: center;
    font-size: 12px;
    margin: 0;
}
.feedbo-outer-content .inner-content #index .fb-content {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}
.feedbo-outer-content .inner-content #index .fb-content .content {
    display: none;
}
.feedbo-outer-content .inner-content #index .fb-content .tab-active {
    display: block;
}
.feedbo-outer-content .inner-content .postItem:last-child {
    padding-bottom: 14px;
}
.feedbo-outer-content .inner-content .postItem:first-child {
    padding-top: 14px;
}
.feedbo-outer-content .inner-content .postItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: both;
    line-height: 19px;
    padding: 7px 16px 7px 20px;
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #e8e8e8;
}
.feedbo-outer-content .inner-content strong {
    color: #222c36;
    font-weight: 600;
}
.feedbo-outer-content .inner-content .postItem-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    margin-right: 10px;
}
.feedbo-outer-content .inner-content .postItem-container .postItem-content {
    flex: 1 0;
}
.feedbo-outer-content .inner-content .fb-button {
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.feedbo-outer-content .inner-content .fb-content .postItem .button-container .fb-button {
    width: 60px;
}
.feedbo-outer-content .inner-content .fb-button:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}
.feedbo-outer-content .inner-content .fb-content .postItem .button-container .button-vote[data-vote="true"], 
.feedbo-outer-content .inner-content .fb-content .postItem .button-container .button-down-vote[data-down-vote="true"] {
    border-left: 4px solid var(--fb-accent);
    padding: 0;
}
.feedbo-outer-content .feedbo-content .inner-content #details .logDetailsItem .button-vote-container .fb-button, 
.feedbo-outer-content .feedbo-content .inner-content .fb-button[type="submit"] {
    background-color: var(--fb-accent);
    border-color: var(--fb-accent);
    color: inherit;
}
.feedbo-outer-content .feedbo-content .inner-content #details .logDetailsItem .button-vote-container .fb-button:hover,
.feedbo-outer-content .feedbo-content .inner-content  .fb-button[type="submit"]:hover {
    color: #fff;
    background-color: var(--fb-accent-hover);
    border-color: var(--fb-accent);
}
.feedbo-outer-content .feedbo-content .inner-content .fb-button[type="submit"]:focus {
   outline: none;
}
/* Roadmap style start */
.feedbo-outer-content .inner-content .postItem-roadmap:first-child {
    padding-top: 20px;
}
.feedbo-outer-content .inner-content .postItem-roadmap:last-child {
    padding-bottom: 20px;
}
.feedbo-outer-content .inner-content .postItem-roadmap {
    position: relative;
    margin: 0 30px;
    padding: 0 0 20px;
    font-size: 14px;
    list-style: none;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-tail {
    position: absolute;
    left: 4px;
    height: calc(100% - 10px);
    border-left: 2px solid #e8e8e8;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-head {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 100px;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-content {
    position: relative;
    top: -6px;
    margin: 0 0 0 18px;
    word-break: break-word;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-content .roadmap-item-container {
    position: relative;
    margin: 10px 0;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-content .roadmap-item-title {
    cursor: pointer;
    font-size: .85rem;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-content .roadmap-item-badge {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    color: unset;
    line-height: inherit;
    vertical-align: baseline;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-content .roadmap-item-badge-dot {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
}
.feedbo-outer-content .inner-content .postItem-roadmap .postItem-roadmap-content .roadmap-item-title-text {
    margin-left: 8px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
}
.feedbo-outer-content .inner-content .fb-content .roadmap-no-item-container {
    position: relative;
    text-align: center;
    max-width: 370px;
    width: 100%;
    color: rgba(73,73,73,.714);
    font-size: .9rem;
    padding: 15vh 1rem;
    margin: 0 auto;
}
.feedbo-outer-content .inner-content .fb-content .roadmap-no-item-container .roadmap-no-item-header {
    color: #494949;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

/* Roadmap style end */

/* View detail style start */

.feedbo-outer-content .inner-content #details {
    left: 100vw;
}
.feedbo-outer-content .inner-content .logDetailsItem {
    height: 100vh;
    display: none;
    flex-direction: column;
    text-overflow: ellipsis;
}
.feedbo-outer-content .inner-content .slideBody {
    padding: 0 30px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}
.feedbo-outer-content .inner-content .topBar {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 23px;
}
.feedbo-outer-content .inner-content .topBar {
    /* margin: 0 30px; */
    position: relative;
}
.feedbo-outer-content .inner-content .topBar .back {
    top: 2px;
    padding: 5px 15px 0;
}
.feedbo-outer-content .inner-content .back {
    position: absolute;
    display: block;
    height: 46px;
    opacity: .25;
    z-index: 2;
}
.feedbo-outer-content .inner-content .back:before {
    top: 14px;
    transform: rotate(45deg);
}
.feedbo-outer-content .inner-content .back:after {
    bottom: 12px;
    transform: rotate(-45deg);
}
.feedbo-outer-content .inner-content .back:after, .feedbo-outer-content .inner-content .back:before {
    content: "";
    height: 12px;
    width: 1px;
    display: block;
    background: #222c36;
    position: absolute;
}
.feedbo-outer-content .inner-content h3.title {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .comment-item .fb-comment-author-like i {
    cursor: pointer;
}

/* View detail style end */

/* Comment style start */
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .detail-item-status {
    padding: 12px 0;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .detail-item-status .status-name {
    padding-left: 15px;
    font-weight: 600;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .detail-item-status .status-badge {
    position: relative;
    top: -1px;
    margin-left: 15px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .detail-item-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 12px;
    border-bottom: 1px solid #e8e8e8;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .detail-item-status {
    padding: 12px 0;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container,
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .new-comment-form-container {
    display: none;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item-container:last-child {
    border-bottom: none ;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item {
    position: relative;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item {
    position: relative;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner {
    display: flex;
    padding: 16px 0;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-avatar {
    position: relative;
    flex-shrink: 0;
    margin-right: 12px;
    cursor: pointer;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content {
    position: relative;
    flex: 1 1 auto;
    min-width: 1px;
    font-size: 14px;
    word-wrap: break-word;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content .fb-comment-author {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 4px;
    font-size: 14px;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content .fb-comment-author .fb-comment-author-name {
    padding-right: 8px;
    font-size: 12px;
    line-height: 18px;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content .fb-comment-author .fb-comment-author-time {
    padding-right: 8px;
    font-size: 12px;
    line-height: 18px;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content .fb-comment-author .fb-comment-author-like span {
    padding-left: 2px;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .new-comment-form-container .form-control {
    padding: 12px 0;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .new-comment-form-container .button-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}
.feedbo-outer-content .inner-content .slideBody .button-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.feedbo-outer-content .inner-content .slideBody .button-upload .fb-btn-upload {
    cursor: pointer;
}
.feedbo-outer-content .inner-content .slideBody .button-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content .fb-comment-image-container {
    display: flex;
    padding-top: 12px;
}
.feedbo-outer-content .inner-content .logDetailsItem .slideBody .comment-list-container .comment-item .fb-comment-inner .fb-comment-content .fb-comment-image {
    position: relative;
    height: 104px;
    width: 130px;
    object-fit: cover;
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 12px;
}
/* Comment style end */

/* Add Post style start */
.feedbo-outer-content .inner-content #add {
    left: 200vw;
}
.feedbo-outer-content .inner-content #add .add-post-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
}
.feedbo-outer-content .inner-content #add .add-post-container .slideBody {
    padding: 30px;
}
.feedbo-outer-content .inner-content #add .add-post-container .slideBody .form-control {
    padding-bottom: 15px;
}
.feedbo-outer-content .inner-content #add .add-post-container .slideBody .form-control .form-control-title {
    padding-bottom: 5px;
}
.feedbo-outer-content .inner-content #add .add-post-container .new-post-form .form-control .form-control-title span {
    color: #f5222d;
    vertical-align: middle;
}
.feedbo-outer-content .inner-content #add .add-post-container .slideBody .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

/* Add Post style end */

/* Upload List style start */
.feedbo-outer-content .feedbo-content .inner-content #add .slideBody .new-post-form .form-control .upload-file-list,
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .new-comment-form .form-control .upload-file-list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: "tnum";
    zoom: 1;
}
.feedbo-outer-content .feedbo-content .inner-content #add .slideBody .new-post-form .form-control .upload-file-list .upload-list-item,
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .new-comment-form .form-control .upload-file-list .upload-list-item {
    position: relative;
    height: 66px;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 14px;
}
.feedbo-outer-content .feedbo-content .inner-content #add .slideBody .new-post-form .form-control .upload-file-list .upload-list-item .upload-list-item-thumbnail,
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .new-comment-form .form-control .upload-file-list .upload-list-item .upload-list-item-thumbnail {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
    font-size: 26px;
    line-height: 54px;
    text-align: center;
    opacity: .8;
    object-fit: cover;
}
.feedbo-outer-content .feedbo-content .inner-content #add .slideBody .new-post-form .form-control .upload-file-list .upload-list-item .upload-list-item-name,
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .new-comment-form .form-control .upload-file-list .upload-list-item .upload-list-item-name {
    display: inline-block;
    box-sizing: border-box;
    max-width: 90%;
    margin: 0 0 0 8px;
    padding-right: 8px;
    padding-left: 48px;
    overflow: hidden;
    line-height: 44px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .3s;
}
.feedbo-outer-content .feedbo-content .inner-content #add .slideBody .new-post-form .form-control .upload-file-list .upload-list-item .upload-list-item-card-actions,
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .new-comment-form .form-control .upload-file-list .upload-list-item .upload-list-item-card-actions {
    top: 25px;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 0;
}
.feedbo-outer-content .feedbo-content .inner-content #add .slideBody .new-post-form .form-control .upload-file-list .upload-list-item .upload-list-item-card-actions .anticon,
.feedbo-outer-content .feedbo-content .inner-content #details .slideBody .new-comment-form .form-control .upload-file-list .upload-list-item .upload-list-item-card-actions .anticon {
    padding-right: 6px;
    color: rgba(0,0,0,.45);
    cursor: pointer;
}
/* Upload List style end */
/* Skeleton style start */

.fb-skeleton-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fb-skeleton-post {
    width: 220px;
    height: 80px;
}
.fb-skeleton-post .fb-skeleton-avatar {
    float: left;
    width: 52px;
    height: 52px;
    background-color: #ccc;
    border-radius: 25%;
    margin: 8px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-avatar 1.6s infinite linear;
}
.fb-skeleton-post .fb-skeleton-line {
    float: left;
    width: 140px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines 1.6s infinite linear;
}
.fb-skeleton-post .fb-skeleton-avatar + .fb-skeleton-line {
    margin-top: 11px;
    width: 100px;
}
.fb-skeleton-post .fb-skeleton-line ~ .fb-skeleton-line {
    background-color: #ddd;
}

@keyframes shine-lines {
    0% {
        background-position: -100px;
    }
    40%, 100% {
        background-position: 140px;
    }
}
@keyframes shine-avatar {
    0% {
        background-position: -32px;
    }
    40%, 100% {
        background-position: 208px;
    }
}
/* Skeleton style end */
